h1 {
    color:blue;
    text-decoration:underline;
}
body {
    background-color:rgb(129, 122, 123);
}
.heading{
    color:blue;
    background-color:yellow;
}
body{
    background-color:pink;
}
button{
    background-color:blue;
    color:white;
}