h1{
    height: 200px;
    border:2px solid green;
    background-color: yellow;
    color:red;

}
@media (width:400px){
    h1{
    background-color:magenta;
    }
}
@media (min-width:500px){
    h1 {
        background-color: orange;
    }
}
@media (max-width:300px){
    h1{
        background-color:blue;
    }
}
/* @media (min-width:300px)and(max-width:500ps){
    h1{
        background-color:cyan;
    }
} */

@media (orientation:landscape){
    h1{
        background-color:cyan;  
    }
}