      h1{
            color:red;
            background-color:blue;
        }

    p{
        color:blue;
        background-color:aquamarine
    }

    button{
        color:#000000;
        background:black
    }